# Data Structure
- A Data Structure is an object in a program, which can hold a collection of data.
- Simple DS - Array (e.g. - list of student names)
- Complex DS - Dictionary (e.g. - Telephone Directory)

#### Objective
- Use `list`, `tuple` and `dictionary` data structure
- Learn to select right data structure for an application.

### LIST
- Difference between an arran and list is, `Array` contains `Homogeneous` elements, but `List` contains `Hetrogenerous` types of elements.

Use of `len()` and `type()`

In [6]:
lab_group = ["deepak", "kumar", "amit", "suraj"]
print("Lab group members : {}".format(lab_group))

# len()
print("Size of lab group members : {}".format(len(lab_group)))

# type()
print("Check the python object type : {}".format(type(lab_group)))

Lab group members : ['deepak', 'kumar', 'amit', 'suraj']
Size of lab group members : 4
Check the python object type : <class 'list'>

Creating `empty list`

In [11]:
my_list = []
my_list

[]

List of `repeated values`

In [9]:
my_list = ["Deepak"]*5
my_list

['Deepak', 'Deepak', 'Deepak', 'Deepak', 'Deepak']

`Iterating list elements`

In [14]:
for name in lab_group:
    print(name)

deepak
kumar
amit
suraj

`Iterate list elements with their index value`

In [17]:
for n, name in enumerate(lab_group):
    print(n , name)

0 deepak
1 kumar
2 amit
3 suraj

`Sorting`

In [19]:
print("Origional list of lab members : ", lab_group)
lab_group.sort()
print("Sorted list of lab members : ", lab_group)

Origional list of lab members :  ['amit', 'deepak', 'kumar', 'suraj']
Sorted list of lab members :  ['amit', 'deepak', 'kumar', 'suraj']

In [23]:
# We can use sorted() method as well, but it will store sorted elements in new list.
lab_group = ["deepak", "kumar", "amit", "suraj"]
print("Unsorted list of lab members :", lab_group)
sorted_lab_group = sorted(lab_group)
print("Unsorted list of lab members :", lab_group) # sorted() don't update the original list.
print("Sorted list of lab members :", sorted_lab_group)

Unsorted list of lab members : ['deepak', 'kumar', 'amit', 'suraj']
Unsorted list of lab members : ['deepak', 'kumar', 'amit', 'suraj']
Sorted list of lab members : ['amit', 'deepak', 'kumar', 'suraj']

Use of `append()`, `pop()`, `range()`

In [30]:
# append()
lab_group = ["deepak", "kumar", "amit", "suraj"]
lab_group.append("kyle")
print(lab_group)

# pop() - Remove any particular indexed elelement.
lab_group.pop(4)
print(lab_group)

# range()
for i in range(len(lab_group)):
    print(lab_group[i])

['deepak', 'kumar', 'amit', 'suraj', 'kyle']
['deepak', 'kumar', 'amit', 'suraj']
deepak
kumar
amit
suraj

`Dot Product` of two vectors

In [33]:
x = [2, 4, 3, 9, 7]
y = [3, 2, 4, 9, 3]

dot_product = 0.0
for i in range(len(x)):
    dot_product += x[i]*y[i]

print("Dot Product of two vectors : ", dot_product)

Dot Product of two vectors :  128.0

`Hetrogeneity`

In [34]:
mixed_list = [1, 1.0, "Deepak", 1+2j, True]
for item in mixed_list:
    print(item, type(item))

1 <class 'int'>
1.0 <class 'float'>
Deepak <class 'str'>
(1+2j) <class 'complex'>
True <class 'bool'>

`List Comprehension` - A way to build a list from another list.

In [56]:
# Example-1: Square of each element of a list.
x = [2,3,4,5,6]
y = [i*i for i in x]
print(y)

[4, 9, 16, 25, 36]

In [55]:
# Example-2:  Finding prime numbers between 1 to 100.
n = 100
prime_number = [i for i in range(2, n+1) if all(i%j !=0 for j in range(2, int(i**0.5)+1))]
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [60]:
# Example-3: As another example, say we have a list of names and we want to 
# - build a new list of names that contains only the names with more than 5 characters; and 
# - for these names we want to add a full stop at the end.

lab_group = ["Khalid", "John", "Cho", "Janice", "Malik"]
updated_lab_group = [name+'.' for name in lab_group if len(name)>5]
print("Original list : ", lab_group)
print("Updated list : ", updated_lab_group)

Original list :  ['Khalid', 'John', 'Cho', 'Janice', 'Malik']
Updated list :  ['Khalid.', 'Janice.']

### TUPLES
- The main difference between `tuple` and `list` is tuple is immutable means, its length can't be changed, but its values can be changed, whereas list is mutable.

In [64]:
room = ("Laura", 32)
print("Room Allocation : {}".format(room))
print("Length of tuple : {}".format(len(room)))
print("Type : {}".format(type(room)))

Room Allocation : ('Laura', 32)
Length of tuple : 2
Type : <class 'tuple'>

`Iterating the elements` : Element iteration is same as list.

In [67]:
for r in room:
    print(r)

Laura
32

`sorting` - sort() method not supported by tuple. For sorting we have to use sorted() only.

In [71]:
t1 = (1,3,2,9,8)
# t1.sort()
# print("Print sorted tuple : ", t1)
# 'tuple' object has no attribute 'sort'
t2 = sorted(t1)
print("Original tuple : ", t1)
print("Sorted tuple : ", t2)

Original tuple :  (1, 3, 2, 9, 8)
Sorted tuple :  [1, 2, 3, 8, 9]

### DICTIONARY (Map)
- It is a list of key-value pairs.
- List and tuples stores elements in continuous piece of memory, but dictionary stores differently, which allows us elements to look up using a key.

In [74]:
room_allocation = {"Adrian": None, "Revathi": 32, "Segun": 31, "Penelope": 28, "Ankit": 28, "Gaurav": 19}
print("Room Allocation : ", room_allocation)
print("Size of dictionary : ", len(room_allocation))
print("Type of dictionary : ", type(room_allocation))

Room Allocation :  {'Adrian': None, 'Revathi': 32, 'Segun': 31, 'Penelope': 28, 'Ankit': 28, 'Gaurav': 19}
Size of dictionary :  6
Type of dictionary :  <class 'dict'>

`Iteration`

In [82]:
# Iterating all elements.
for name, room in room_allocation.items():
    print("For {} allocated room number is {}.".format(name, room))

# Iterating only keys.
print("List of students : " , room_allocation.keys())

# Iterating only values.
print("List of available rooms : ", room_allocation.values())

# Iterating to find particular student room number.
print("Room allocated to Revathi is : " , room_allocation["Revathi"])

For Adrian allocated room number is None.
For Revathi allocated room number is 32.
For Segun allocated room number is 31.
For Penelope allocated room number is 28.
For Ankit allocated room number is 28.
For Gaurav allocated room number is 19.
List of students :  dict_keys(['Adrian', 'Revathi', 'Segun', 'Penelope', 'Ankit', 'Gaurav'])
List of available rooms :  dict_values([None, 32, 31, 28, 28, 19])
Room allocated to Revathi is :  32

`Inverse key-value pairs`

In [84]:
inversed_room_allocation = {}

for name, room in room_allocation.items():
    inversed_room_allocation[room] = name

print(inversed_room_allocation)

{None: 'Adrian', 32: 'Revathi', 31: 'Segun', 28: 'Ankit', 19: 'Gaurav'}